html {
scroll-behavior: smooth;
}

body {
background-color: white;
padding: 0;
margin: 0;
text-align: center;
max-width: 100%;
}

section {
margin: 10px;
margin-top: 0px;
margin-bottom: 60px;
}

h3, h1{
color: #008F7A;
text-align: center;
font-size: 30px;
 }

h1 {
font-size: 80px;
 }
  
p {
 font-style: normal;
 font-size: 18px;
 max-width: 40%;
 margin: 0 auto;
 line-height: 30px;
}

section p {
margin-right: auto;
}

.charImg p {
font-style: italic;
}

.charImgContainer div p {
text-align: left;
margin-left: 60px;
}

.charImg img{
 border-radius: 10px;
 width: 150px;
 margin-top: 2rem;
 transition: 600ms;

border: 0px solid #C5FCEE;
margin: 0.5px;
margin-left: 0px;
}

.charImg img:hover,
.charImg img:active {
transform: scale(1.1);
border: 2.5px solid #55C6AE;
}

.backgroundimage img {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
max-height: 665px;
object-fit: cover;
object-position: center top;

}

.Contents {
overflow: hidden;
padding: 20px 10px;
background-color: #93beb1;
}

.Contents a {
float: left;
color: black;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 24px;
line-height: 25px;
transition: 300ms;
cursor: pointer;
}

.logo {
    font-size: 35px !important;
}

.Contents a:hover,
.Contents a:active {
transform: scale(1.1);

}

.home p, .home h3, .home h4 {
    width: 700px;

}

.header-right {
    float: right;
}

.charImgContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }

.home p, .Plot p, .anyaforger p, .loidforger p, .yorforger p {
    text-align: start;
}

a {
text-decoration: none;
color: #008F7A;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    }

.flex2 {
    justify-content:space-evenly !important;

}

.gif1 {
height: 330px;
width: 510px;
margin: 30px;
border-radius: 20px;
}

.gif3 {
    width: 580px;
    border-radius: 20px;
}


.yorContainer img {
    width: 550px;
    transform: scale(1.6);
}

.imgAnyaForger img {
    width: 500px;
    transform: scale(2.1);
}

.imgLoidForger img {
    width: 500px;
    transform: scale(1.7);
}

.AnLoImgCon img{
    width: 350px;
    transform: scale(0.9);
}

.LoidImg1 img {
    width: 300px;
    transform: scale(0.6);
}

.FinCon img{
    width: 230px;
    transform: scale(1.1);
}

.yorselfimg {
   width: 200px; 
   transform: scale(1.0);
}